h1
{
color:#21610B;
text-align:Left;
font-size:50px;
font-family:"century gothic";
}
table {
align:"center";
}
p
{
font-family:"century gothic";
font-size:20px;
}
body
{
background-image: url(zombie-background.jpg);
}
hNav
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#21610B;
width:130px;
text-align:center;
padding:10px;
text-decoration:none;
text-transform:uppercase;
font-size:16px;
font-family:"century gothic";
}
a:hover,a:active
{
background-color:#0B3B0B;
}


.title
{
position:absolute;
left:165px;
top:0px;
}

.navBar
{
position:absolute;
left:0px;
width:600px;
top:110px;
}


table
{
border-spacing:10px;
}
form{
font-family:"century gothic";
font-size:20px;
}